Flask
Flask-CORS
Flask-Migrate 
azure-storage-blob 
azure-core
gunicorn
langchain-community 
langchain-anthropic 
python-dotenv
mysql-connector-python
Flask-SQLAlchemy
bcrypt
pillow
google-generativeai
langchain
sqlalchemy
